<div>
    <p>
        <%= event.title %>
    </p>
    <p>
        <%= event.location %>
    </p>
    <p>
        <%= event.description %>
    </p>
    <p>
        <%= event.event_date_time %>
    </p>
</div>